
.modal__header {
    text-align: center;
    line-height: 1.5;
  }

  .modal__header h1 {
    font-size: 1.6rem;
  }
  
  .modal__header h3 {
    font-size: 0.9rem;
    font-weight: 400;
  }
  
  .modal__header h3 span {
    color: var(--blue);
    text-decoration: underline;
    cursor: pointer;
  }

  .modal__form {
    margin-top: 2em;
  }

  .modal__form .name_field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
  }

  .modal__form .name_field input {
    width: 100%;
  }

  .modal__form .form_field,
  .modal__form .name_field{
    margin-bottom: 1.5em;
  }
  
  .modal__form .form_field label,
  .modal__form .name_field label {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5em;
    color: inherit;
    font-weight: 400;
  }

  .modal__form .form_field input,
  .modal__form .name_field input {
    font-size: 1rem;
  }

  .modal__form .sign_up {
    width: 100%;
    padding: 1em 0;
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color01);
    color: var(--white);
    border-radius: var(--radius-md);
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
  }
  