.main_container {
  margin-top: 7.5em;
  padding: 0 10%;
}

.nav_container {
  display: flex;
  align-items: center;
  gap: 1em;
}

.nav_container span {
  font-size: 0.4rem;
}

.nav_container a {
  display: inline-block;
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--dark-gray);
  transition: 0.3s all ease;
}

.nav_container a:first-of-type {
  text-transform: capitalize;
}

.nav_container a:last-of-type {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav_container a:hover {
  text-decoration: underline;
}

.flex_container {
  padding: 1.5em 0em 1.5em 0;
  margin: 1% 0 2% 0;
  width: 100%;
  min-height: 50vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2em;
  background-color: var(--white);
}

.product_img_container {
  margin: 2em 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product_img_container img {
  width: 30%;
}

.all_data_container {
  color: var(--dark-gray);
  width: 60%;
}

.box {
  background-color: var(--boxbg);
  border-radius: var(--radius-md);
  padding: 2em;
  padding-bottom: 0.5em;
}

.box .headline {
  padding-bottom: 1em;
  margin-bottom: 2em;
  border-bottom: 1px solid var(--color02);
  opacity: 0.7;
}

.all_data_container .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

.all_data_container h3:first-of-type {
  font-weight: 600;
  font-size: 1.4rem;
}

.rating_container {
  margin-top: 2em;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1em;
  color: var(--dark-gray);
  font-weight: 500;
}

.rating_container span:nth-of-type(2) {
  display: block;
  width: 1px;
  height: 1em;
  background-color: var(--dark-gray);
  opacity: 0.5;
}

.rating_container span:nth-of-type(3) {
  text-decoration: underline;
  font-weight: 500;
}

.rating_container i {
  color: orange;
}

.all_data_container .buy_now {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  margin: 2em 0;
}

.add_to_wishlist {
    outline: none;
    border: none;
    position: relative;
    border-radius: var(--radius-sm);
    width: 2em;
    height: 2em;
    padding: 0.5em;
    color: var(--dark-gray);
    background-color: var(--color02);
    font-family: inherit;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
  }

  .add_to_wishlist i {
    font-size: 0.9rem;
    transform: translateX(-1.5px);
  }

  .add_to_wishlist i:nth-of-type(2) {
    position: absolute;
    top: 0.7em;
    right: 0.5em;
    font-size: 0.5rem;
  }
  
  .all_data_container .buy_now .buy_now_btn {
    outline: none;
    border: none;
    border-radius: var(--radius-sm);
    width: 100%;
    padding: 1em;
    color: var(--white);
    background-color: var(--dark-gray);
    border: 1px solid var(--dark-gray);
    font-family: inherit;
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    align-items: center;
  justify-content: center;
  gap: 2em;
  cursor: pointer;
}

.all_data_container .buy_now button span:first-of-type {
  display: flex;
  align-items: center;
  gap: 1em;
}

.all_data_container .buy_now button span:last-of-type i {
  font-size: 1.6rem;
}


.prices {
  margin: 2em 0;
  display: flex;
  align-items: flex-start;
  gap: 3em;
}

@keyframes ani-width {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 4em;
    opacity: 0.3;
  }
}

.old_price,
.new_price,
.price_change {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}

.old_price div,
.new_price div {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.old_price div {
  gap: 0.2em;
}

.old_price div span:first-of-type,
.new_price div span:first-of-type {
  font-size: 2rem;
  font-weight: bold;
}

.old_price div span:nth-of-type(2),
.new_price div span:nth-of-type(2) {
  opacity: 0.5;
}

.old_price div span:first-of-type {
  font-size: 1rem;
  text-decoration: line-through;
  font-weight: 500;
}

.old_price div span:nth-of-type(2) {
  font-size: 0.5rem;
  text-decoration: line-through;
  font-weight: 500;
}

.saving {
  display: flex;
  align-items: center;
  gap: 0.1em;
  transform: translateY(calc(50% - 0.2em));
}

.saving .discount {
  border-radius: var(--radius-sm) 0 0 var(--radius-sm);
  background-color: var(--light-green);
  padding: 0.5em 1em;
  color: var(--green);
  font-weight: bold;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.saving .discount span {
  font-weight: 300;
  font-size: 0.5rem;
  /* color: var(--color01); */
}

.saving .change {
  border-radius: var(--radius-sm) 0 0 var(--radius-sm);
  padding: 0.5em 1em;
  background-color: var(--light-red);
  color: var(--red);
  font-weight: bold;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.saving .change span {
  font-weight: 300;
  font-size: 0.5rem;
}

.price_change,
.price_change_negative {
  padding: 0.5em;
  border-radius: 0 var(--radius-sm) var(--radius-sm) 0;
  color: var(--green);
  background-color: var(--light-green);
  font-weight: bold;
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.price_change_negative {
  padding: 0.5em;
  color: var(--red);
  background-color: var(--light-red);
}

.price_change_negative span:first-of-type {
  font-size: 0.6rem;
  margin-right: 0.5em;
}

.price_change span:first-of-type {
  font-size: 0.6rem;
  margin-right: 0.5em;
}

.chart_container {
  /* align-self: stretch; */
  display: flex;
  flex-direction: column;
  width: 85%;
  padding: 2em;
  background-color: var(--boxbg);
  border-radius: var(--radius-md);
  color: var(--dark-gray);
}

.chart_container h4 {
  padding-bottom: 1em;
  margin-bottom: 2em;
  border-bottom: 1px solid var(--color02);
  opacity: 0.7;
}

.description {
  margin-top: 2em;
  color: var(--dark-gray);
}

.description .toggle {
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
  gap: 1em;
}

.description p {
  font-size: 0.9rem;
  word-spacing: 3px;
  line-height: 1.5;
  display: flex;
  align-items: flex-start;
  gap: 1em;
}

.description p i {
  transform: translateY(5px);
}

/* ...Media Queries... */

/* .................................................. */
/* Small Screen  */
@media screen and (max-width: 1366px) {
  .nav_container {
    margin: 15px 0;
  }
  .product_img_container {
    align-self: center;
  }
  .flex_container {
    padding: 0 8%;
    flex-direction: column;
    align-items: flex-start;
    gap: 5em;
  }
  .all_data_container {
    width: 100%;
  }
}
