.modal_container {
  display: flex;
  justify-content: space-between;
  width: 68vw;
  height: 80vh;
  padding: 3em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  color: var(--color01);
  border-radius: var(--radius-md);
  z-index: 999999;
  overflow: hidden;
}

.modal_container_hidden {
  display: none;
}

.modal_container .header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 1.2rem;
  margin-bottom: 0.5em;
  padding-bottom: 1em;
  border-bottom: 1px solid var(--boxbg);
}

.modal_container .header span {
  display: inline-block;
  font-size: 1.6rem;
  cursor: pointer;
}

.modal_container .header p {
  font-size: 0.9rem;
}
.modal_container .main_section {
  width: 74%;
  position: relative;
}
.modal_container .sidebar {
  width: 22%;
  padding-right: 3em;
  border-right: 1px solid var(--boxbg);
}
.modal_container .sidebar ul {
  list-style-type: none;
}
.modal_container .sidebar ul li {
  margin: 0.5em 0;
  padding: 0.8rem 2em;
  border-radius: var(--radius-sm);
  cursor: pointer;
}

.modal_container .sidebar ul li.active_page {
  background-color: var(--boxbg);
}

/*-----Profile-----*/
.modal_container .profile header {
  margin: 2rem 0;
}
.modal_container .profile .modal__form input {
  margin-top: 1rem;
}
.modal_container .profile .name_field {
  display: flex;
  margin: 2rem 0;
}

.modal_container .profile .name_field div {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  width: 20em;
}

/* .modal_container .profile .name_field div input {
  width: 50em;
} */

.modal_container .profile .form_field {
  display: flex;
  flex-direction: column;
  width: 42em;
}
.modal_container .profile .profile_button {
  position: absolute;
  bottom: 0;
  right: 2.5em;
  background-color: var(--dark-gray);
  padding: 1rem 5rem;
  color: white;
  cursor: pointer;
}
/*------wishlist----*/
.modal_container .wishlist {
  height: 90%;
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}
.modal_container .wishlist table {
  width: 100%;
  margin-top: 2em;
  table-layout: auto;
  text-align: center;
  border-collapse: collapse;
}
.modal_container .wishlist tr {
  margin-bottom: 1rem;
  cursor: pointer;
  /* background-color: var(--boxbg); */
  border-radius: var(--radius-md);
}
.modal_container .wishlist tr td {
  padding: 0 0.5em;
}

.modal_container .wishlist tr td:nth-of-type(2) {
  padding: 0 1rem;
}

.modal_container .wishlist tbody tr td.product_title {
  max-width: 15em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.modal_container .wishlist tbody tr td.product_img img {
}

.modal_container .wishlist img {
  width: 8em;
  /* padding: 1em; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.modal_container .wishlist button {
  display: inline-block;
  margin: 0.5rem;
  width: 5rem;
  color: white;
  cursor: pointer;
}
.modal_container .wishlist td button:nth-child(1) {
  color: var(--blue);
  background-color: transparent;
}

.modal_container .wishlist td button:nth-child(2) {
  color: var(--red);
  background-color: transparent;
}

.modal_container .wishlist input {
  width: 10rem;
}

/*---mediaQuery---*/
/* Small Screen  */
@media screen and (max-width: 992px) {
  .modal_container .profile .name_field {
    flex-direction: column;
  }
}
