.overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--overlay);
    backdrop-filter: blur(4px);
    z-index: 99;
  }
  
  .overlay_hidden {
    display: none;
  }

.main_container {
    padding: 0 10%;
    min-height: 100vh;
    margin-top: 8em;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: var(--dark-gray);
}

.filter_btn {
    display: none;
}

.close_btn {
    position: absolute;
    top: 1em;
    right: 1em;
    background-color: transparent;
    font-size: 1.5em;
    cursor: pointer;
}

.main_container .sidebar_filters {
    margin-bottom: 4em;
    padding: 2em 0;
    width: 22%;
    min-height: 70vh;
    border-radius: var(--radius-md);
    background-color: var(--boxbg);
    color: var(--dark-gray);
}

.main_container .sidebar_filters i:not(.close_btn i) {
    font-size: 0.3rem;
    opacity: 0.5;
}

.main_container .sidebar_filters h3 {
    padding: 1.5em;
}

.main_container .sidebar_filters .category_filter,
.price_filter,
.saving_filter,
.gn_filter {
    padding: 0 1.8em;
    margin: 0.5em 0;
}

.main_container .sidebar_filters .category_filter button,
.price_filter button,
.saving_filter button,
.gn_filter button {
    font-size: 1rem;
    font-weight: bold;
    color: var(--dark-gray);
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 1em;
    cursor: pointer;
    opacity: 0.7;
}

.main_container .sidebar_filters .category_filter .sub_categories {
    /* display: none; */
    margin-top: 0.5em;
    padding: 1em 0;
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-left: 1px solid #4045532d;
    font-size: 0.8rem;
    transform: translateX(2px);
}

.main_container .sidebar_filters .category_filter .sub_categories div {
    cursor: pointer;
}

.price_filter form,
.saving_filter form {
    margin-top: 0.5em;
    padding: 1em 0;
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-left: 1px solid #4045532d;
    font-size: 0.8rem;
    transform: translateX(2px);
}

.gn_filter button {
    font-size: 1rem;
    text-transform: capitalize;
}

.gn_filter button div {
    width: 12em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gn_filter button div i:nth-of-type(1) {
    font-size: 1rem;
}

.gn_filter form {
    margin-top: 0.5em;
    padding: 1em 0 2em;
    padding-left: 2em;
    border-left: 1px solid #4045532d;
    font-size: 0.8rem;
    transform: translateX(2px);
    user-select: none;
    transition: 0.3s all ease;
}

.gn_filter form .flex_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
}

.gn_filter form .flex_box div {
    display: flex;
    align-items: center;
    gap: 1em;
}

.gn_filter form label {
    width: 8em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 300;
    font-size: 0.9rem;
    color: var(--dark-gray);
    cursor: pointer;
}

.gn_filter form div input {
    width: fit-content;
    cursor: pointer;
}

.price_filter form {
    display: flex;
}

.price_filter form div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.price_filter form input {
    padding: 1em;
    font-size: 0.7rem;
    font-family: var(--en-font);
    background-color: transparent;
    border: 1px solid var(--color02);
    width: 50%;
}

.price_filter form input[type="submit"] {
    width: 100%;
    font-size: 0.7rem;
    color: var(--color03);
    background-color: transparent;
    border: 1px solid var(--color02);
    cursor: pointer;
}

.saving_filter form label {
    /* color: var(--green); */
    font-weight: bold;
    font-size: 1rem;
}

.saving_filter form label span {
    font-size: 0.8rem;
    color: var(--dark-gray);
}

.saving_filter form label span:nth-of-type(2) {
    /* color: var(--green); */
    margin-left: 2px;
}

.main_container .results {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.main_container .results .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_container .results .header p {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 0.2em;
    font-weight: bold;
}

.main_container .results .header p span {
    font-size: 0.8rem;
    font-weight: 300;
}

.main_container .dropdown {
    /* border: 1px solid black; */
    font-size: 0.8rem;
    position: relative;
    z-index: 1;
}

.main_container .dropdown .current_sort {
    width: 16em;
    font-size: 0.8rem;
    font-weight: bold;
    opacity: 0.7;
    padding: 1em;
    background-color: var(--boxbg);
    color: var(--dark-gray);
    border-radius: var(--radius-sm);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.main_container .dropdown .menu {
    width: 100%;
    padding: 0.5em 0;
    position: absolute;
    top: calc(100% + 5px);
    color: var(--dark-gray);
    border: 1px solid var(--boxbg);
    border-radius: var(--radius-sm);
    background-color: var(--white);
    box-shadow: var(--shadow02);
}

.main_container .dropdown .menu div {
    font-weight: bold;
    opacity: 0.7;
    padding: 0.5em 1em;
    cursor: pointer;
}

.main_container .dropdown .menu div:not(.overlay):hover {
    background-color: var(--boxbg);
}

.result_products {
    width: 100%;
    margin: 2em 0 4em;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    /* justify-content: flex-start; */
    gap: 0.5em;
}

.result_products .product_container {
    position: relative;
    width: calc((100% - 1.5em) / 4);
    height: 20em;
    padding: 0 1em 0em;
    background-color: #dddddd36;
    border-radius: 10px;
    transition: 1s width ease, 1s margin ease;
    cursor: pointer;
}

.main_container .product_container .vendor {
    position: absolute;
    left: 1em;
  }
  
  .main_container .product_container .vendor img{
    width: 3em;
  }

.result_products .product_container_hidden {                                                                                                                                                         
    transform: scale(0);
    width: 0;
    transition: 1s width ease, 1s margin ease;
}

.result_products .product_container:last-of-type {
    margin-right: 0;
}

.result_products .product_container .product_img_container {
    width: 100%;
    height: 55%;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product_img_container img {
    margin-top: 1em;
    width: 100%;
    height: 80%;
    object-fit: contain;
    mix-blend-mode: darken;
}

.product_container button {
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    border: none;
    border-radius: var(--radius-sm);
    background-color: transparent;
    color: var(--dark-gray);
    font-size: 1rem;
    transition: 0.1s all ease;
    transform: scale(0);
    opacity: 0.5;
    cursor: pointer;
}

.product_container:hover button {
    transform: scale(1);
}

.product_container .fav_btn:hover {
    /* color: var(--red); */
    opacity: 1;
}

.product_container .fav_btn i:nth-of-type(2) {
    position: absolute;
    top: -0.7em;
    right: -0.7em;
    font-size: 0.8rem;
    z-index: 99999;
}


.result_products .product_container .price_container {
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
}

.saving {
    display: flex;
    align-items: center;
    gap: 0.1em;
    transform: translateY(calc(50% - 0.2em));
}

.saving .discount {
    border-radius: var(--radius-sm) 0 0 var(--radius-sm);
    background-color: var(--light-green);
    padding: 0.5em 1em;
    color: var(--green);
    font-weight: bold;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 0.2em;
}

.saving .discount span {
    font-weight: 300;
    font-size: 0.5rem;
    /* color: var(--color01); */
}

.saving .change {
    border-radius: var(--radius-sm) 0 0 var(--radius-sm);
    padding: 0.5em 1em;
    background-color: var(--light-red);
    color: var(--red);
    font-weight: bold;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 0.2em;
}

.saving .change span {
    font-weight: 300;
    font-size: 0.5rem;
}

.price_change,
.price_change_negative {
    padding: 0.5em;
    border-radius: 0 var(--radius-sm) var(--radius-sm) 0;
    color: var(--green);
    background-color: var(--light-green);
    font-weight: bold;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price_change_negative {
    padding: 0.5em;
    color: var(--red);
    background-color: var(--light-red);
}

.price_change_negative span:first-of-type {
    font-size: 0.6rem;
    margin-right: 0.5em;
}

.price_change span:first-of-type {
    font-size: 0.6rem;
    margin-right: 0.5em;
}

.result_products .product_container p {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 300;
    font-size: 0.8rem;
    color: var(--dark-gray);
}

.new_price_container {
    font-size: 1rem;
    font-weight: 300;
}

.new_price_container span {
    font-weight: 600;
    color: var(--dark-gray);
}

.new_price_container span:nth-of-type(2) {
    margin-left: 5px;
    color: var(--color03);
    font-weight: 500;
    font-size: 0.8rem;
}

.old_price_container {
    font-size: 0.8rem;
    color: var(--dark-gray);
}


.old_price_container span:first-of-type {
    text-decoration: line-through;
}

.main_container .product_container .product_footer {
    /* width: calc(100% - 2.5em); */
    position: absolute;
    bottom: 1.2em;
    left: 1.5em;
    display: flex;
    align-items: center;
    font-size: 12px;
  }
  
  .main_container .product_container .product_footer:lang(ar) {
    right: 1.5em;
  }
  
  .main_container .product_container .product_footer .rating_container {
    display: flex;
    align-items: center;
    gap: 0.5em;
    color: var(--dark-gray);
  }
  
  .main_container .product_container .product_footer .rating_container .rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    opacity: 0.7;
    font-weight: 700;
    color: orange;
  }
  
  .main_container .product_container .product_footer .rating_container .rating span {
    color: var(--dark-gray);
  }
.pagination {
    align-self: center;
    margin-bottom: 4em;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.pagination button {
    width: 3em;
    height: 3em;
    border-radius: var(--radius-sm);
    /* border: 1px solid var(--light-gray); */
    background-color: transparent;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: var(--shadow01);
    transition: 0.3s all ease;
    /* color: var(--dark-gray); */
    cursor: pointer;
}

.pagination button.active_pagination {
    background-color: var(--dark-gray);
    color: white;
}

.pagination button.disable_pagination {
    cursor: not-allowed;
    opacity: 0.5;
    color: var(--color03);
}

@media screen and (max-width: 1280px) {
    .main_container {
        margin-top: 10em;
    }
    .filter_btn {
        position: fixed;
        left: 50%;
        bottom: 2em;
        transform: translateX(-50%);
        padding: 1.5em 4em;
        background-color: white;
        font-weight: bold;
        border: 1px solid var(--dark-gray);
        color: var(--dark-gray);
        box-shadow: var(--shadow02);
        border-radius: 30px;
        display: flex;
        align-items: center;
        gap: 2em;
        cursor: pointer;
        z-index: 99;
    }
    .result_products .product_container  {
        height: 20em;
    }
    .main_container .sidebar_filters {
        display: none;
        padding-right: 1em;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40vw;
        height: 70vh;
        overflow: hidden;
        box-shadow: var(--shadow02);
        background-color: var(--white);
        z-index: 99;
    }
    .main_container .filters {
        height: 42vh;
        overflow-y: scroll;
        padding-bottom: 2em;
        position: relative;
    }
    .main_container .filters::-webkit-scrollbar {
        width: 5px;
    }
      
    .main_container .filters::-webkit-scrollbar-track {
        background: var(--boxbg);
        border-radius: 3px;
    }
      
    .main_container .filters::-webkit-scrollbar-thumb {
        background-color: var(--light-gray);
        border-radius: 3px;
    }
    .close_btn {
   
    }
    .main_container .results {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .result_products .product_container {
        width: calc((100% - 1em) / 3);
    }
}

@media screen and (max-width: 768px) {
    .main_container {
        margin-top: 12em;
    }
    .filter_btn {
        bottom: 7em;
        padding: 1em;
        gap: 0.3em;
        font-weight: 400;
    }
    .main_container .sidebar_filters {
        width: 75vw;
    }
}

@media screen and (max-width: 540px) {
    .result_products .product_container {
        width: calc((100% - 0.5em) / 2);
    }
    .result_products .product_container .product_img_container img {
        width: 60%;
    }
}
