/* ...global... */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ...global... */

/* ...fonts... */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&family=Righteous&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* ...fonts... */

:root {
    --color01: #222831;
    --color02: #dddddd;
    --color03: #a3a7ac;
  /* ...main-colors... */
  --black: #000000;
  --white: #ffffff;
  --yellow: #feee00;
  --blue: #3866df;
  --green: #38ae04;
  --red: #de0b0b;
  --orange: #f5a523;
  --light-gray: #808080;
  --dark-gray: #404553;
  /* ...bg-colors... */
  --overlay: rgba(90, 88, 88, 0.7);
  --bg01: #fff9f4;
  --bg02: #fcfbf4;
  --bg03: #f7f7fa;
  --bg04: #fcf8e0;
  /* ...other variables... */
  --radius-sm: 5px;
  --radius-md: 10px;
  --ar-font: 'Cairo', sans-serif;
  --en-font: 'Ubuntu', sans-serif;
  --logo-font: 'Righteous', cursive;
  --shadow01: rgba(0, 0, 0, 0.16) 0px 0px 2px;
  --shadow02: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  font-family: var(--en-font);
  background-color: var(--white);
  padding-bottom: 6em;
  overflow-x: hidden;
  min-height: 400em;
}

input {
    width: 40em;
    outline: none;
    border: none;
    background-color: var(--color02);
    color: var(--color01);
    border-radius: var(--radius-sm);
    padding: 1em 2em;
}

p {
  max-width: 100%;
}

a {
  display: flex;
  align-items: center;
}

span.column_divider {
    display: inline-block;
    width: 2px;
    height: 10px;
    border-radius: var(--radius-sm);
    background-color: var(--color03);
    opacity: 0.2;
}

span.dot_divider {
    display: inline-block;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: var(--color03);
    opacity: 0.7;
}

/* .................................................. */

/* ...Media Queries... */

/* .................................................. */
/* Small Screen  */
@media screen and (max-width: 768px) {
    html {
      font-size: 12px;
    }
}
/* .................................................. */
/* Medium Screen  */
@media (min-width: 769px) and (max-width: 992px) {
    html {
      font-size: 14px;
    } 
}
/* .................................................. */
/* Large Screen  */
@media (min-width: 993px) {
    html {
      font-size: 16px;
    }
}



